    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
                <h1>About receivable.tech</h1>
                <p>We are a software and analytics company providing bespoke AI solutions for collections attorneys and collections agencies.
                    We help you make use of data to increase efficiency, save time and money. Have
                    a pile of data that isn't working for you? Call us today and don't let your information resources go to waste!</p>
                <br/>
              </div>
        </div>
    </section>
    <section id="contactform" class="container contactform-section text-center">
        <div class="row">
            <form action="https://formspree.io/josh@receivable.tech"
                  method="POST" class="col-lg-8 col-lg-offset-2">
                <h2>Want to find out more? <br><small>Leave your email here and one of our representatives will be in touch!</small></h2>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" name="_replyto" placeholder="Enter email">
                </div>
                <input type="submit" value="Submit">
            </form>
        </div>
    </section>
